body {
    background-color: #818cf8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f1f5f9' fill-opacity='0.26'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: effra, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.flex-container {
    display: flex;
    /* flex-flow and justify-content is horizontal axis*/
    flex-flow: wrap;
    justify-content: space-between;
    /* align-items is vertical axis */
    align-items: center;
}

.inner-container {
    /* Put padding so the content does not touch the edge. 0 = top/bottom 1rem=left/right */
    padding: 0 1rem;
}

/* *********** typography *********** */
h1 {
    font-size: 1.125rem;
    /* Line height will center your content in header */
    line-height: 3.75rem;
}

h2 {
    font-family: effra, sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* ************* header ************* */
header {
    background-color: #f8fafc;
}

button {
    background-color: #f8fafc;
    border: none;
}

svg {
    width: 1.25rem;
}

header a {
    text-decoration: none;
    color: #475569;
    font-size: 0.875rem;
}

/* cascading selector */
h1 a {
    color: #dc2626;
}

nav {
    position: absolute;
    background-color: #f8fafc;
    width: 98vw;
    top: 3.75rem;
    left: 0;
    /* once this changes to position absolute, its no longer in the layout of the html, therefore its no longer a flex item */
    /* flex: 1 0 100%; */
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

/* special class that will show the nav when the button is clicked (do not add to the html) */
.show-nav {
    visibility: visible;
    opacity: 1;
    overflow: visible;
}

.menu li {
    line-height: 3.125rem;
}

/* This will line up our svgs on our a tags */
.menu a {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.menu a:hover {
    background-color: #e2e8f0;
}

.menu svg {
    width: 10px;
}

.submenu {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    max-height: 0;
}

.submenu li {
    border-bottom: 1px solid #cbd5e1;
}

/* What do you hover over? ---> first selector + :hover
What do you want to change ---> second selector */

/* ">" means direct selector */
.menu li:hover > .submenu {
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: 14.0625rem;
}

/* this works to an extent, but the hover stat has limitations. A better way to dev a dropdown nav is with javascript */

@media screen and (min-width:1100px) {
    .inner-container {
        padding: 0;
        width: 1000px;
        margin: 0 auto;
    }

    .btn {
        display: none;
    }

    /* Step 1(Show Nav): To show your nav on the bigger screen scroll back up to where you hidden it */
    nav {
        position: unset;
        visibility: visible;
        opacity: 100;
        overflow: visible;
        /* unset resets the width to the default width */
        width: unset;
    }

    /* Step 2(Center the nav):  */
    .inner-container > a {
        order: 1;
    }

    /* Second option to center ONLY IF THERE ISNT ANOTHER CHILD */
    /* a:nth-child(3) {
        order: 1;
    } */

    /* To do: 
    1. layout the 3 top level links horizontally, side by side 
    2. layout the submenu links (dropdown for wider screen)
    3. add focus or keyboard focus to the dropdown links  */

    ul.menu {
        display: flex;
        gap: 3.5rem;
    }

    svg {
        margin-left: 0.5rem;
    }

    ul.submenu {
        position: absolute;
        top: 50px;
        left: 0px;
        right: 0;
        background-color: #f8fafc;
        visibility: hidden;
        opacity: 0;
    }

    ul.menu li {
        position: relative;
        white-space: nowrap;
    }

    ul.menu li:hover > ul {
        visibility: visible;
        opacity: 1;
    }
}
